POSTGRES_DB=windrose_logs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

AZURE_TENANT_ID=YOUR_TENANT_ID
AZURE_CLIENT_ID=YOUR_CLIENT_ID

# Internal network URL
FRONTEND_URL=http://windroselogs
DOMAIN=windroselogs
BULK_IMPORT_API_KEY=CHANGE_ME_STRONG_KEY

GITHUB_REPOSITORY=YOUR_GITHUB_USERNAME/windrose-logs
IMAGE_TAG=latest
